# Build & compiled directories
dist/
backup/
docs/
assets/promo-posters/
assets/skip silence/
*.zip

# IDE/OS & Temporary files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
.DS_Store
